// _settings.css.scss
$accent-color-1: #8bbb4b;

$topbar-bg-color: $accent-color-1;
$topbar-bg: $accent-color-1;
$topbar-dropdown-bg: $accent-color-1;
$topbar-link-bg-hover: scale-color($accent-color-1, $lightness: -15%);
